.podedex_title{
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 300;
}
.podedex_title-name{
    font-weight: 600;
    color: #fe1936
}
.custom-btn_pkdx {
    width: 100px;
    height: 60px;
    color: #fa950a;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    padding: 10px 25px;
    font-weight:bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(214, 126, 126, 0.5),
    7px 7px 20px 0px rgba(154, 118, 118, 0.1),
    4px 4px 5px 0px rgba(125, 84, 84, 0.1);
    outline: none;
}
.btn-1_pkdx{
    background: #fe1936;
    background: linear-gradient(0deg, rgb(177, 16, 16) 0%, rgb(243, 66, 66) 100%);
    border: none;
}
.btn-1_pkdx:hover {
    background: #fe1936;
    background: linear-gradient(0deg, rgb(177, 16, 16) 0%, rgb(250, 116, 116) 100%);
    color: #e89f3a
}
.input_pkdx {
    width: 100%;
    max-width: 250px;
    height: 56px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}
.pokeCard_container{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}
.pkdx_container{
    margin-top: -40px;
}
.input_pkdx_container{
    width: 25em;
}
.inf_select{
    display: flex;
    flex-direction: row;
    align-content:space-between;
    justify-content:space-around;   
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 10px
}
@media screen and (min-width: 720px){
    .pkdx_container{
        margin-top: -65px
    }
}
